<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.4/phpunit.xsd" bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Importer Tests">
            <directory>./tests/Importer</directory>
        </testsuite>
        <testsuite name="Exporter Tests">
            <directory>./tests/Exporter</directory>
        </testsuite>
    </testsuites>
</phpunit>